<div class="container">
  <h3>会員情報編集</h3>
    <%= form_with model: @customer, local:true do |f| %>
      <%= render 'public/shared/error_messages', resource: @customer %>
      <div class="Namae row">氏名
        <div class="field">
          <%= f.text_field :last_name, autocomplete: "family-name" %>
        </div>
        <div class="field">
          <%= f.text_field :first_name, autocomplete: "given-name" %>
        </div>
      </div>

        <!--フリガナ-->
      <div class="Namae_kana row">フリガナ
        <div class="field">
          <%= f.text_field :last_name_kana, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.text_field :first_name_kana, autocomplete: "off" %>
        </div>
      </div>

        <!--郵便番号-->
      <div class="field">郵便番号
        <%= f.text_field :postal_code, autocomplete: "postal-code" %>
      </div>

        <!--住所-->
      <div class="field">住所
        <%= f.text_field :address, autocomplete: "street-address" %>
      </div>

        <!--電話番号-->
      <div class="field">電話番号
        <%= f.text_field :telephone_number, autocomplete: "tel" %>
      </div>

        <!--メールアドレス-->
      <div class="field">メールアドレス
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "編集内容を保存", class: "btn btn-success" %>
      </div>

    <!--退会コマンド未実装です-->
      <div class="actions">
        <%= link_to "退会する", unsubscribe_path(current_customer), class: "btn btn-danger" %>
  <% end %>
</div>