<div class="container py-3">
  <div class="row">
　　<h3 class="mini-title mb-3">商品詳細</h3>
  </div>
<div class="row">
<div class="col-3 mt-4 ml-3">
 <% if @item.item_image.attached? %>
  <%= image_tag @item.get_item_image(300,200) %>
 <% else %>
  <%= image_tag 'no_image', size: "300x200" %>
 <% end %>
</div>
<div class="col-5 mt-4 ml-5">
<table class="table table-bordered">
  <tbody>
  <tr>
  <th>商品名</th>
  <td><%= @item.name %></td>
  </tr>
  <tr>
  <th>商品説明</th>
  <td><%= @item.introduction %></td>
  </tr>
  <tr>
  <th>ジャンル</th>
  <td><%= @item.genre.name %></td>
  </tr>
  <tr>
  <th>税込価格(税抜価格)</th>
  <td><%= (@item.price * 1.1).floor %>円(<%= @item.price %>円)</td>
  </tr>
  <tr>
  <th>販売ステータス</th>
  <td><% if @item.is_active == true %>
      <b class="text-success">販売中</b>
    <% else %>
      <b class="text-muted">販売停止中</b>
    <% end %>
  </td>
  </tr>
  </tbody>
  </table>
  <div class="mt-4">
    <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success" %>
    <%= link_to "削除する", admin_item_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
  </div>
  </div>
</div>
</div>