<div class="container py-3">
 <div class="row">
  <div class="col-2 px-2">
    <%= render 'public/items/genre', genres: @genres %>
  </div>
  <div class="col-10 px-2">
   <div class="card-img px-2">
    <%= image_tag "cake_sample.jpg", width: "600" %>
   </div>
   <div class="card-img-overlay">
    <p class="greeting-message text-center">
     ようこそ、ながのCAKEへ！</br>
     このサイトは、ケーキ販売のECサイトになります。</br>
     会員でない方も商品の閲覧はできますが、</br>
     購入には会員登録が必要になります。</p>
   </div>
  </div>
 </div>
  <div class="row">
   <h3 class="title py-3 col-12"><strong>新着商品</strong></h3>
  </div>
  <div class="row">
   <div class="image-photo col-auto">
    <% @items.each do |item| %>
    <%= link_to item_path(item) do %>
    <div><%= image_tag item.get_item_image(210,150) %></div>
    <div><%= item.name %></div>
    <div>¥<%= item.price.to_s(:delimited) %></div>
    <% end %>
    <% end %>
   </div>
  </div>
  <div class="row">
    <%= link_to "すべての商品を見る>", items_path %>
   </div>
  </div>
</div>