<div class="container py-3">
  <div class="row">
     <h3 class="mini-title">ジャンル一覧・追加</h4>
  </div>

  <div class="row pt-4">
  <%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
  <%= f.label :ジャンル名 %>
  <%= f.text_field :name %>
  <%= f.submit "新規登録", class: "btn btn-primary"%>
  <% end %>
  </div>

  <div class="row pt-4">
   <table class="table-bordered text-center">
     <thead class="table-danger">
      <tr>
       <th height="35">ジャンル</th>
       <th></th>
      </tr>
     </thead>
    <tbody class="table-warning">
      <% @genres.each do |genre| %>
       <tr>
        <td><%= genre.name %></td>
        <td><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-sm btn-success" %></td>
       </tr>
      <% end %>
     </tbody>
   </table>
 </div>
</div>