<div class="container px-5 mx-5">
  <h3 class="m-3 mini-title">注文履歴一覧</h3>
    <div class="row-11 mx-5">
      <table class="table mx-5 table border-bottom table-hover table-background">
        <thead class="thead-light">
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr onclick='window.location="<%= '/admin/orders/' + order.id.to_s %>"' role="link">
              <td>
                <u><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order.id), class: "text-dark" %></u>
              </td>
              <td>
                <%= order.customer.last_name + order.customer.first_name %>
              </td>
              <td>
                <%= order.order_details.inject(0) { |sum, order_detail| sum + order_detail.amount} %>
              </td>
              <td>
                <%= order.status_i18n %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
</div>
