<p>配送先編集</p>
<%= form_with model: @address, local:true do |f| %>
<%= render "layouts/errors", obj: @address %>
  <div>郵便番号(ハイフンなし)<%= f.text_field :postal_code, autofocus: true %></div>
  <div>住所<%= f.text_field :address %></div>
  <div>宛名<%= f.text_field :name %></div>
  <%= f.submit "変更内容を保存", class: "btn btn-success" %>
<% end %>