<div class="container">
    <div class="row">
      <div class="col mt-4">
        <h3 class="mini-title">注文履歴一覧</h3>
      </div>
      <% if @orders.exists? %>
      <table class="table table-bordered">
        <thead>
          <tr class="thead-light">
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= order.postal_code %>
            <br><%= order.address %>
            <br><%= order.name %>
          </td>
            <td>
              <% order.order_details.all.each do |order_detail| %>
                <%= order_detail.item.name %></br>
              <% end %>
            </td>
            <td>￥<%= (order.total_payment + order.shopping_fee).to_s(:delimited) %></td>
            <td><%= order.status_i18n %></td>
            <td><%= link_to "表示する", order_path(order.id), class:"btn btn-primary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
        <p class="fs-4">まだご注文されてません～！</p>
        <p>ながのCAKEでのお買い物を楽しんでください！<p>
        <%= link_to "商品一覧はこちら！", items_path %>
      <% end %>
    </div>
  </div>
</div>