<p>注文履歴詳細</p>
<p>注文情報
<table class="table table-bordered">
  <tbody>
    <tr>
      <td>注文日</td>
      <td><%= @order.created_at%></td>
    </tr>
    <tr>
      <td>配送先</td>
      <td><%= @order.postal_code %>
          <br><%= @order.address %>
          <br><%= @order.name %>
      </td>
    </tr>
    <tr>
      <td>支払方法</td>
      <td><%= @order.payment_method %></td>
    </tr>
    <tr>
      <th>ステータス</th>
      <th><%= @order.status %></th>
    </tr>
  <tbody>
</table>
<p>請求情報</p>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td>商品合計</td>
      <td>￥<%= @order.total_payment - @order.shopping_fee.to_s(:delimited) %></td>
    </tr>
    <tr>
      <th>配送料</th>
      <th><%= @customer.shopping_fee %></th>
    </tr>
    <tr>
      <th>ご請求額</th>
      <th><%= @customer.total_payment.to_s(:delimited) %></th>
    </tr>
  <tbody>
</table>
<p>注文内容</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品</th>
      <th>単価(税込)</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_details.all.each do |order_detail| %>|
    <tr>
      <td><%= order_detail.item.name %></td>
    </tr>
    <tr>
      <td><%= order_detail.item.price%></td>
    </tr>
    <tr>
      <td><%= order_detail.amount%></td>
    </tr>
    <tr>
      <td>￥<%= order_detail.price*order_detail.amount.to_s(:delimited)  %></td>
    </tr>
    <% end %>
  <tbody>
</table>