<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'genre', genres: @genres %>
    </div>
    <div class="col-4">
      <%= image_tag @item.get_item_image(400,280) %>
    </div>
    <div class="col-6">
     <h4><strong><%= @item.name %></strong></h4>
     <p><%= @item.introduction %></p>
     <span>￥<%= @item.with_tax_price.to_s(:delimited) %>（税込）</span>
        <%= form_with model: @cart_item, url: cart_items_path do |f| %>
          <p><%= f.select :amount, *[1..10], include_blank: '個数選択' %></p>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.submit "カートに入れる", class: "btn btn-success" %>
         <% end %>
    </div>
  </div>
</div>